{% macro render(args) %}
    <div class="position-relative">
        <div class="ui-hero-area">
            <div class="container">
                <div class="row justify-content-center align-items-center align-items-xxl-center">
                    <div class="col-xxl-5 col-lg-7 col-12 mt-5">
                        <div class="ui-display-title text-center text-xs-center mt-5">
                            <h1 class="title">
                              Systems Engineering & <span>Technical Assistance<span>
                            </h1>
                            <p class="text">Government agencies have current and emerging requirements for professional services and innovative solutions in support of their missions. We focus on high-end support in targeted environments to provide continuity of operations, research and development, and staff augmentation services.</p>
                            <div class="buttton-group">
                              
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="ui-hero-area__ellipse-1 position-absolute">
                <img src="./image/l-2/ellipse-1.png" alt="ellipse" class="w-100">
            </div>
            <div class="ui-hero-area__ellipse-2 position-absolute">
                <img src="./image/l-2/ellipse-2.png" alt="ellipse" class="w-100">
            </div>
            <div class="ui-hero-area__ellipse-3 position-absolute"></div>
        </div>
       
    </div>
{% endmacro %}