{% macro render(args) %}
<div class="ui-award-area">
    <div class="container">
        <div class="ui-section-title text-start">
            <h2 class="title">Honor & Awards</h2>
            <p class="text">Proin a dui ac augue pulvinar malesuada. Quisque ac velit <br> non ligula gravida elementum
                a vel ex.</p>
        </div>
        <div class="row ui-card-row justify-content-center">
            <div class="col-lg-4 col-12 col-md-6">
                <div class="ui-award-card">
                    <img src="./image/l-2/sdvosb.png" alt="award" style="width: 60%;"class="mw-100">
                    <div class="content">
                        <h6>Service Disabled Veteran Owned Small Business</h6>
                        <p>To qualify as a Service-Disabled Veteran, proof of VA adjudication, DD Form 214, or National Archives Statement of Service indicating service-connected disability is required.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 col-md-6">
                <div class="ui-award-card">
                    <img src="./image/l-2/hubzone.png"style="width:80%;" alt="award" class="mw-100">
                    <div class="content">
                        <h6>HUBZone<br> Certificate</h6>
                        <p>The HUBZone program fuels small business growth in historically underutilized business zones with a goal of awarding at least 3% of federal contract dollars to HUBZone-certified.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 col-md-6">
                <div class="ui-award-card">
                    <img src="./image/l-2/vip.png" style="width:60%;"alt="award" class="mw-100">
                    <div class="content">
                        <h6>Veteran Institute for Procurement </h6>
                        <p>The Veteran Institute for Procurement provides specialized training to Veteran-owned small businesses looking to enter or grow in federal procurement.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-award-area__ellips">
        <svg width="366" height="680" viewBox="0 0 366 680" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.5" filter="url(#filter0_f_1485_7144)">
        <circle cx="472" cy="472" r="324" fill=""/>
        </g>
        <defs>
        <filter id="filter0_f_1485_7144" x="0" y="0" width="944" height="944" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="74" result="effect1_foregroundBlur_1485_7144"/>
        </filter>
        </defs>
        </svg>
    </div>
</div>
{% endmacro %}
