{% macro render(args) %}
    <div class="position-relative">
        <div class="ui-hero-area">
            <div class="container">
                <div class="row justify-content-center align-items-center align-items-xxl-center">
                    <div class="col-xxl-5 col-lg-7 col-12 mt-5">
                        <div class="ui-display-title text-center text-xs-center mt-5">
                            <h1 class="title">
                              Enterprise IT & <span>Technology Solutions<span>
                            </h1>
                            <p class="text">We currently provide network support services to one of the largest enterprise networks in the world, encompassing operations in the United States and abroad. Using innovations within both our partner team and internal staff, we have experience providing enterprise solutions for critical customers.</p>
                            <div class="buttton-group">
                              
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="ui-hero-area__ellipse-1 position-absolute">
                <img src="./image/l-2/ellipse-1.png" alt="ellipse" class="w-100">
            </div>
            <div class="ui-hero-area__ellipse-2 position-absolute">
                <img src="./image/l-2/ellipse-2.png" alt="ellipse" class="w-100">
            </div>
            <div class="ui-hero-area__ellipse-3 position-absolute"></div>
        </div>
       
    </div>
{% endmacro %}