{% macro render(args) %}
    <div class="ui-about-area">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-xl-7 col-md-12 col-lg-6 mb-5 mb-lg-0">
                    <div class="ui-about-area__iamge-group" data-aos="fade-right" data-aos-duration="1000" data-aos-once="false">
                         <img src="./image/l-2/philant.png" alt="about" class="w-100">
                        
                    </div>
                </div>
                <div class="col-xl-5 col-md-10 col-lg-6">
                    <div class="ui-about-area__content" data-aos="fade-left" data-aos-duration="1000" data-aos-once="false">
                     <h2 class="title">Philanthropy</h2>
                        <div class="social-media-group mt-4">
                            <p class="text">Giving back is an integral part of our culture and the cornerstone of our existence. From community support to donations for the warfighter, we’re always interested in supporting a worthy cause. As a certified Service-Disabled Veteran-Owned Small Business (SDVOSB) with former military and government employees, we continue to support those men and women protecting our nation.</p>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-about-area__ellips">
            <svg width="296" height="944" viewBox="0 0 296 944" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_f_1629_6680)">
            <circle cx="472" cy="472" r="324" fill="#2B384C"/>
            </g>
            <defs>
            <filter id="filter0_f_1629_6680" x="0" y="0" width="944" height="944" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="74" result="effect1_foregroundBlur_1629_6680"/>
            </filter>
            </defs>
            </svg>
        </div>
    </div>
{% endmacro %}
