{% macro render(args) %}
    <div class="dev-project-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-9 col-lg-8">
                    <div class="dev-section-title">
                        <h2 class="title">{{args.titleChange}}</h2>
                    </div>
                </div>
            </div>
             <div class="container">
        <div class="row justify-content-center card-row">
            <div class="col-md-4 col-6">
                <div class="dev-project-card text-center ">
                    <div class="card-body text-center">
                        <svg class="card-img-top mb-2" width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#BD1B22">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path opacity="0.15" d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill=""></path>
                                <path d="M21 12C21 16.9706 16.9706 21 12 21M21 12C21 7.02944 16.9706 3 12 3M21 12H3M12 21C7.02944 21 3 16.9706 3 12M12 21C12 21 16 18 16 12C16 6 12 3 12 3M12 21C12 21 8 18 8 12C8 6 12 3 12 3M3 12C3 7.02944 7.02944 3 12 3" stroke="" stroke-width="1.5"></path>
                            </g>
                        </svg>
                        <h3 class="card-title">INTEGRITY</h3>
                        <p class="card-text">Commit to ethical business practices. Provide principled solutions to improve organizations. Foster partnerships and build trust with our customers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="dev-project-card text-center ">
                    <div class="card-body">
                        <svg class="card-img-top mb-2" width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#BD1B22">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 12.9L7.14286 16.5L15 7.5" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M20 7.5625L11.4283 16.5625L11 16" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                        <h3 class="card-title">EXCELLENCE</h3>
                        <p class="card-text">Exceed expectations. Provide exceptional service. Promote a sustainable, well-defined impact. Make things better.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="dev-project-card text-center ">
                    <div class="card-body">
                        <svg class="card-img-top mb-2" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 42C33.9411 42 42 33.9411 42 24C42 14.0589 33.9411 6 24 6C14.0589 6 6 14.0589 6 24C6 33.9411 14.0589 42 24 42Z" stroke="#BD1B22" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path class="fill" d="M17.25 22.5C18.4926 22.5 19.5 21.4926 19.5 20.25C19.5 19.0074 18.4926 18 17.25 18C16.0074 18 15 19.0074 15 20.25C15 21.4926 16.0074 22.5 17.25 22.5Z" fill="#BD1B22"/>
                            <path d="M28.5 20.25H33" stroke="#BD1B22" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.8 28.5C31.007 29.8661 29.8691 31 28.5003 31.7882C27.1314 32.5764 25.5795 32.9913 24 32.9913C22.4204 32.9913 20.8685 32.5764 19.4996 31.7882C18.1308 31 16.9929 29.8661 16.2 28.5" stroke="#BD1B22" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <h3 class="card-title">INNOVATION</h3>
                        <p class="card-text">Develop dynamic, cutting-edge solutions. Deliver superior service. Practice continuous improvement of our personnel, our services, and our company. Maintain agility.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
        </div>
    </div>
{% endmacro %}
